.banner {
    background-image: url(../../../assets/img/daniel-olahh.jpg);
    width: 100%;
}
.page-header.page-header-xs {
  min-height: 40vh!important;
}
.page-header {
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  /* z-index: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
}
#img_circular {
    width: 150px;
    height: 150px;
  }
  
  #img_circular {
    border-radius: 100px
  }
  .img-perfil{
    text-align: center;
    top:-5em;
    position: relative;
  }
  .nome{
    text-align: center;
    top:-3em;
    position: relative;
    font-size: 25px;
  }
  .nome-dev{
    text-align: center;
    position: relative;
    font-size: 25px;
    color: var(--cor-cinza);
  }
  .descricao{
    font-size: 15px;
    text-align: justify;
  }
  /* .card-descricao{
    padding-bottom: 60px;
  } */
  .row.descricao {
    padding-right: 60px;
    padding-left: 60px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}



.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.btn-card{
  margin-right: 15px;
}

.title-formacao{
  font-weight: bold !important;
  color: var(--cor-cinza);
}
.formacao {
  border-left: 3px solid var(--cor-angular);
  margin-bottom: 20px;
}
.div-interior{
  margin-left: 20px;
}