<div>
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="rgb(193, 0, 48)"
    type="ball-atom"
    [fullScreen]="true"
  >
  </ngx-spinner>
  <header class="banner page-header page-header-xs">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-2">
          <!-- <img src="https://angular.io/assets/images/logos/angular/angular.svg" /> -->
          <img src="" alt="" />
        </div>
        <div class="col-lg-10">
          <!-- <h1 class="display-5 text-white mt-5 mb-2">Desenvolvedor Front-End</h1>
            <p class="lead mb-5 text-white">Você está pronto para aprender muito sobre este fantástico framework SPA?</p> -->
        </div>
      </div>
    </div>
  </header>

  <div class="img-perfil">
    <img [src]="perfil" alt="perfil" id="img_circular" />
  </div>
  <div></div>

  <div class="nome">
    <span>Marcos Paulo</span>
    <div class="nome-dev">
      <span>Desenvolvedor Front-End ANGULAR 2+</span>
    </div>
  </div>
  <div class="card-descricao">
    <div class="row descricao card-container">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sou desenvolvedor Front-End,</h5>
            <p class="card-text">
              Em especial, Angular 2+, HTML, CSS, GIT, Typescrip,
              JavaScript, Metodologia Ágil e muitas outras tecnologia..
            </p>
            <p class="card-text">
              Minha paixão por programação me leva a aprender sempre e estar
              informado, sou desenvolvedor desde 2018, e percebi que realmente
              estou trilando o caminho certo para o sucesso.
            </p>
            <p class="card-text">
              Busco trabalhar ao lado de pessoas que tenha vontade de trazer
              soluções criativas para problemas do usuário, que some, tem
              objetivos claros e incentive ao crescimento do colega de equipe.
            </p>
            <p class="card-text">
              Você pode conhecer mais sobre mim visitando meu linkedin, whatsapp
              ou me ligando.
            </p>
            <div>
              <a
                href="https://www.linkedin.com/in/marcospaulogs/"
                class="btn btn-primary btn-card"
              >
                <img
                  src="assets/icons/linkedin.png"
                  alt="linkedin"
                  height="24px"
                  width="24px"
                />
                Linkedin</a
              >

              <a
                href="https://api.whatsapp.com/send?phone=5561995136468&text=Ol%C3%A1%2C+vim+pelo+Site+Pessoal%21%21."
                class="btn btn-success btn-card"
                ><img
                  src="assets/icons/whatsapp.png"
                  alt="linkedin"
                  height="24px"
                  width="24px"
                />
                Whatsapp</a
              >

              Contato: (61) 9.9352-5885
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-descricao">
    <div class="row descricao card-container">
      
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Habilidades,</h5>
            <span>ANGULAR 2+, ANGULARJS, CSS, ECLIPSE, GIT,
              HTML, HIBERNATE, JAVA, JAVASCRIPT, JPA, JUNIT,
              MAVEN, REST, SQL, SPRINGBOOT, STUDIO CODE, TYPESCRIPT, 
              TESTE UNITARIO ANGULAR 2+ (KARMA, JASMINE), VISUAL STUDIO CODE
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card-descricao">
    <div class="row descricao card-container">
      
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Personalidade,</h5>
            <span>
              COMPORTAMENTO, INTERDISCIPLINAR, TRABALHAR EM EQUIPE
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-descricao">
    <div class="row descricao card-container">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Experiência,</h5>

            <div class="formacao" *ngFor="let objeto of experiencias">
              <div class="div-interior">
                <span class="title-formacao">{{objeto.nome}}</span>
                <br>
                <span>{{objeto.descricao}}</span>
              </div>
            </div>
            

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-descricao">
    <div class="row descricao card-container">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formação,</h5>

            <div class="formacao" *ngFor="let objeto of formacoes">
              <div class="div-interior">
                <span class="title-formacao">{{objeto.nome}}</span>
                <br>
                <span>{{objeto.descricao}}</span>
              </div>
            </div>
            

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
